.home-background {
    background-image: url(../../assets/Connected\ world-bro\ \(1\).svg);
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 40%;
    background-position-y: 80%;
    background-color: rgb(87, 114, 225);
}

@media (max-width:900px) {
    .home-background {
        background-size: 45%;
    }
}

@media (max-width:800px) {
    .home-background {}

    @media (max-width:850px) and (min-width:720px) {
        .home-background {
            height: auto;
        }
    }
}

@media (max-width:720px) {
    .home-background {
        background-position-y: 95% !important;
        background-size: 50% !important;
    }
}

@media (max-width:530px) {
    .home-background{
        background-position-y: 90% !important;
        background-size:70% ;
       

    }
}




/* .home-background{ background-size:60% !important; height: auto !important; background-image: url(../../assets/peopleonsocial.png) ;
    background-position-x: 150%; background-position-y:75% !important; 
} */